<div class="container">
    <div class="search-form">
        <h2>Search Flights</h2>
        <%= simple_form_for :search, url: flights_path, method: :get do |f|%>
            <%= f.input :departure_airport_id, collection: @departures %>
            <%= f.input :arrival_airport_id, collection: @arrivals %>
            <%= f.input :passenger_count, collection: (1..4) %>
            <%= f.input :date , collection: @dates %>
            <div class="search-button">
                <%= f.button :submit, "Find Flights" %>
            </div>
        <% end %>
    </div>

    <div class="search-results">
        <% unless params[:search].nil? %>
            <h2>Flight Results</h2>
            <%= simple_form_for :booking, url: new_booking_path, method: :get do |f| %>
                <div class="flight-option">
                    <%= f.input :flight_id, collection: @flights, as: :radio_buttons, label: false %>
                </div>
                <%= f.hidden_field :passenger_count, value: @passenger_count%>
                <div class="book-button">
                    <%= f.button :submit, "Book"%>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
