<div class="booking-container">
    <%= render "booking_information", flight: @flight %>
    <div class="booking-form" data-controller="passenger"  data-passenger-count-value=<%= @passenger_count %>>
        <%= simple_form_for @booking do |f| %>
            <h3>Passengers</h3>
            <div class="passenger-form" data-passenger-target="formContainer">
                <%= f.simple_fields_for :passengers do |p_form| %>
                    <div class="passenger-details" data-passenger-target="details">
                        <% @booking.errors.full_messages_for(:passengers).each do |message| %>
                            <div class="message">
                                <%= message%>
                            </div>
                        <% end %>
                        <%= p_form.input :name, required: true %>
                        <% @booking.errors.full_messages_for(:email).each do |message| %>
                            <div class="message">
                                <%= message%>
                            </div>
                        <% end %>
                        <%= p_form.input :email, required: true %>
                        <button data-action="passenger#remove:prevent">Remove</button>
                    </div>
                    <br/>
                <% end %>
                <%= f.hidden_field :flight_id, value: @flight.id%>
                <template data-passenger-target="formTemplate">
                    <div class="passenger-details"  data-passenger-target="details">
                        <div class="input string required booking_passengers_name">
                            <label class="string required">
                            <abbr title="required">*</abbr> Name</label>
                            <input class="string required" required="required" aria-required="true" type="text">
                        </div>
                        <div class="input email required booking_passengers_email">
                            <label class="email required">
                            <abbr title="required">*</abbr> Email</label>
                            <input class="string email required" required="required" aria-required="true" type="email">
                        </div>
                        <button data-action="passenger#remove:prevent">Remove</button>
                    </div>
                    <br>
                </template>
            </div>
            <%= f.button :submit, "Confirm" %>
        <% end %>
        <br>
        <button data-action="passenger#add">Add Passenger</button>
    </div>
</div>
