<h2>Booking Information</h2>

<div class="booking-info">
    <div class="info">
        <span>Date:</span> <%= @flight.date.strftime("%B %d, %Y")%>
    </div>
    <div class="info">
        <span>Time:</span> <%= @flight.date.strftime("%H:%M") %>
    </div>
    <div class="info">
        <span>Duration:</span> <%= @flight.duration / 60 %> hours
                                <%= @flight.duration % 60 %> minutes
    </div>
    <div class="info">
        <span>Departure Airport:</span> <%= @flight.departure_airport.code %>
    </div>
    <div class="info">
        <span>Arrival Airport:</span> <%= @flight.arrival_airport.code %>
    </div>
    <div class="info">
        <span>Flight ID:</span> <%= @flight.id %>
    </div>
</div>

<div class="booking-form">
    <%= simple_form_for @booking do |f| %>
        <div class="passenger-form">
            <h3>Passengers</h3>
            <%= f.simple_fields_for :passengers do |p_form| %>
                <div class="passenger-details">
                    <% @booking.errors.full_messages_for(:passengers).each do |message| %>
                        <div class="message">
                            <%= message%>
                        </div>
                    <% end %>
                    <%= p_form.input :name, required: true %>
                    <% @booking.errors.full_messages_for(:email).each do |message| %>
                        <div class="message">
                            <%= message%>
                        </div>
                    <% end %>
                    <%= p_form.input :email, required: true %>
                </div>
                <br/>
            <% end %>
            <%= f.hidden_field :flight_id, value: @flight.id%>
        </div>
        <%= f.button :submit, "Confirm" %>
    <% end %>
</div>
